<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <body>
    <div class="main" role="main">
      <h1>Your Properties</h1>
      <div ng-app="myApp" ng-controller="resultsCtrl" class="grid">
        <div class="results column">
          <h2>Results</h2>
          <div class="outline">
            <div ng-repeat="house in results">
              <property house="house"></property>
              <button class="green btn" 
                      ng-click="addProperty($index)">
                  add property
              </button>
            </div>
          </div>
        </div>
        <div class="saved column">
          <h2>Saved Properties</h2>
          <div class="outline">
            <div ng-repeat="house in saved">
              <property house="house"></property>
              <button class="red btn"
                      ng-click="removeProperty($index)">
                  remove property
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="js/app.js"></script>
  <script src="js/resultsController.js"></script>
  <script src="js/propertyDirective.js"></script>
  </body>
</html>